.Burger {
  width: 100%;
  margin: auto;
  height: 250px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

@media (min-width: 1000px) and (min-width: 720px) {
  .Burger {
    height: 600px;
    width: 700px;
  }
}

@media (min-width: 500px) and (min-widht: 400px) {
  .Burger {
    height: 300px;
    width: 350px;
  }
}